/* Globales */
*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Lato';
    color: #333;
}

.icon-cart{
    width: 70%;
    height: 70%;
    stroke: #000;
}

.icon-cart:hover{
    cursor: pointer;
}

.Barra{
    background-color: dimgrey;
    width: 1500px;
    height: 400px;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    font-size: 300%;
    color: white;
    align-content: center;
    text-align: center;
    text-decoration-line: underline;
    border-bottom-style: dotted;
}

.btn-add-cart{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 150%;
	font-weight: 100;
	border-bottom-color: red;
	width:300px;
    height:60px;
	
}
.Subtitulos{
	align-content: center;
	color:gray;
	font-weight: 600;
	font-size: 500%;
}


.magenpro{
	width: 100%;
	height: 100%;
}

img{
    max-width: 100%;
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 40px 0;
}

.container-icon{
    position: relative;
}

.count-products{
    position: absolute;
    top: 128px;
    right: 17px;
    background-color: #000;
    color: #fff;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
	
}

#contador-productos{
    font-size: 400%;
}

.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    
}

.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito{
    font-size: 20px;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}

.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart{
    display: none;
}




/* Main */
.container-items{
      display: flex;
	width: 100%;
  height: 100%;
  flex-wrap: wrap;
	align-content: flex-start;
  
}

.container-itemsI{
      display: flex;
	width: 100%;
  height: 100%;
  flex-wrap: wrap;
	align-content: flex-start;
  
}

.container-itemsparlante{
      display: flex;
	width: 100%;
  height: 100%;
  flex-wrap: wrap;
	align-content: flex-start;
  
}

.container-itemsreadio{
      display: flex;
	width: 100%;
  height: 100%;
  flex-wrap: wrap;
	align-content: flex-start;
  
}

.container-itemstosatador{
      display: flex;
	width: 100%;
  height: 100%;
  flex-wrap: wrap;
	align-content: flex-start;
  
}

.item{
    border-radius: 10px;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure{
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.2);
}

.info-product{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price{
    font-size: 18px;
    font-weight: 900;
}

.info-product button{
    border: none;
    background: none;
    background-color: #BB2C2E;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}

.cart-empty{
    padding: 20px;
    text-align: center;
}


.hidden{
    display: none;
}
